<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="nav-div">
      <ul class="side-nav" role="navigation" title="Link List">
        <li role="menuitem"><%= link_to 'Home', homepage_path %></li>
        <li role="menuitem"><%= link_to 'Tiles', tile_categories_path %></li>
        <li role="menuitem"><%= link_to 'House Plaques', house_plaques_path %></li>
        <li role="menuitem"><%= link_to 'House Numbers', house_number_tiles_path %></li>
        <li role="menuitem"><%= link_to 'Baby Keepsakes', baby_keepsakes_path %></li>
        <li role="menuitem"><%= link_to 'Sale Items', sale_items_path %></li>
      </ul>
    </div>

    <%= yield %>

  </body>
</html>
