<!-- Main Title Section -->
<div class="row">
  <div class="large-12 columns">
    <%= image_tag("florets_multi_colored_copy.gif", class: "full-width") %>
  </div>
  <div class="large-12 columns">
    <h1 class="center-text">Welcome to Cergamics</h1>
  </div>
  <div class="large-12 columns">
    <%= image_tag("florets_multi_colored_reversed.gif", class: "full-width") %>
  </div>
</div>
<hr />

<div class="row" id="category-menu">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns main-menu" id="tiles">
        <h3 class="center-text"><%= link_to 'Custom Tiles', tile_categories_path, class: "main-menu-text" %></h3>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-12 columns main-menu" id="house-plaques">
        <h3 class="center-text"><%= link_to 'House Plaques', house_plaques_path, class: "main-menu-text" %></h3>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-12 columns main-menu" id="house-numbers">
        <h3 class="center-text"><%= link_to 'House Numbers', house_number_tiles_path, class: "main-menu-text" %></h3>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-12 columns main-menu" id="baby-keepsakes">
        <h3 class="center-text"><%= link_to 'Baby Keepsakes', baby_keepsakes_path, class: "main-menu-text" %></h3>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="large-12 columns main-menu" id="sale-items">
        <h3 class="center-text"><%= link_to 'Sale Items', sale_items_path, class: "main-menu-text" %></h3>
      </div>
    </div>
    <hr />
  </div>
</div>
